body {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #2F4550;
}

:root {
    /* cards */
    --height_card: 68.7%;
    --height_card_div: 14%;
    --overlap_margin: -2.7%;
}

.cards {


    height: var(--height_card_div);
    width: 94%;


    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: bottom;

    /* positioning */
    position: fixed;
    bottom: 0.5%;
    margin-inline: 3%;
}

.cardsEnemy {


    height: var(--height_card_div);
    width: 94%;


    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* positioning */
    position: fixed;
    top: 2%;
    margin-inline: 3%;
}

/* Card adjustments */

.card {
    height: var(--height_card);
    margin-inline: var(--overlap_margin);
    transition: 3s;
}

#active {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: var(--height_card_div);
    width: 95%;
    margin-inline: 2.5%;

    bottom: 15%;
}


.deckCard {
    height: var(--height_card);
    margin-inline: 2%;

}

.deck {
    height: var(--height_card_div);
    width: 50%;


    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* positioning */
    position: fixed;
    top: 30%;
    margin: 25%;
}

#dis {
    display: none; /* hides element until a card is available to take from discard */
}

.placebutton { /* Places the button above the active section */
    position: fixed;
    display: flex;
    width: 20%;
    border: solid white;
}

button { /* Styles all button elements */

}